#left {
	

}

#right {
	position: absolute;
	top: 654px;
	left: 600px;
}

#button {
	position: absolute;
	top: 654px;
	right: 220px;
}

#img {
	margin-left: 35%;
}

#healthBar {
	position: absolute;
	top: 10px;
}

#funBar {
	position: absolute;
	top: 30px;
}

#foodBar {
	position: absolute;
	top: 10px;
	right: 50px;
}
#sleepBar {
	position: absolute;
	top: 30px;
	right: 50px;
}

.size {
	font-size: x-large;
}

#room{
	position: absolute;
	top: 634px;
	left: 300px;
}